body.offline{
    background: black !important;
}

:root {
    --background: #fff;
    --lighter-shade: #dadada;
    --accent: #374dde;
    --text: #000;
    --icon-filter: none;
    --font: "Instrument sans", sans-serif;
    --clock-shadow: none;
    --shadow: #aaa;
    --highlights: #fff;
    /* --background: #070707;
    --lighter-shade: #222;
    --accent: #374dde;
    --text: #fff;
    --icon-filter: invert();
    --shadow: #000;
    --highlights: #333; */
}

.offlineMode {
    display:none
}

body.offline > .offlineMode {
    display: block;
}

body.offline > .testSpace {
    display: none;
}

.offlineMode > img {
    width: 300px;
    aspect-ratio: 1;
    border: 1px solid red;
}

.offlineMode > a {
    background: red;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
}