@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.testSpace {
    width: 100%;
    height: 100%;
}

.testSpace  * {
    font-family: 'Inter';
    color: var(--text);
}

body {
    background: var(--background);
}

.testSpace > .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: calc(100% - 20px);
    background-color: var(--background);
    padding: 10px 0px;
    border-right: 2px solid var(--lighter-shade);
    transition: all 250ms;
}

.testSpace > .sidebar.opened {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: calc(100% - 20px);
    background-color: var(--background);
    padding: 10px 20px;
    border-right: 2px solid var(--lighter-shade);
}

.testSpace > .sidebar > .title {
    display: none;
}

.testSpace > .sidebar.opened > .title {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.testSpace > .sidebar > .closeMenu {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--text);
    transform: rotateY(180deg);
    transition: all 250ms;
}

.testSpace > .sidebar.opened > .closeMenu {
    right: 10px;
    transform: rotateY(0deg);
}

.testSpace > .sidebar > .main {
    display: none;
}

.testSpace > .sidebar.opened > .main {
    display: block;
    width: calc(100%);
    margin-top: 10px;
}

.testSpace > .sidebar.opened > .main > div {
    display: flex;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.testSpace > .sidebar.opened > .main > div > i {
    width: 20px;
    display: flex;
    justify-content: center;
}

.testSpace > .sidebar.opened > .main > div:not(:first-child) {
    border-top: 2px solid var(--lighter-shade);
}

.testSpace > .sidebar > .recentProjects {
    margin-top: 30px;
    display: none;
}

.testSpace > .sidebar.opened > .recentProjects {
    display: block;
}

.testSpace > .sidebar > .recentProjects > .title {
    font-size: 20px;
    font-weight: 600;
}

.testSpace > .sidebar > .recentProjects > .projects > div {
    border-bottom: 2px solid var(--lighter-shade);
    padding-block: 10px;
    font-size: 14px;
}

.testSpace > .sidebar > .main > div > i, .testSpace > .sidebar > .footer > div > i {
    margin-right: 10px;
}

.testSpace > .sidebar > .recentProjects > .projects > div:last-child {
    border-bottom: none;
}

.testSpace > .sidebar > .footer {
    display: none;
}

.testSpace > .sidebar.opened > .footer {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    /* background: red; */
    width: calc(100% - 40px);
    padding: 0px 20px;
}

.testSpace > .sidebar.opened > .footer > div {
    padding: 10px 0;
    font-weight: 600;
    cursor: pointer;
}

.testSpace > .sidebar.opened > .footer > div:not(div:first-child) {
    border-top: 2px solid var(--lighter-shade);
}

.testSpace > .sectionTitle {
    font-size: 36px;
    font-weight: bold;
    margin-left: 60px;
    transition: all 250ms;
}

.testSpace > .content > .createNewProject {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--accent);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;;
    font-weight: bold;
}

.testSpace > .content > .projectContainer {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    gap: 10px;
    transition: all 250ms;
}

.testSpace > .content {
    position: absolute;
    width: calc(100% - 80px);
    height: calc(100% - 60px);
    margin-left: 60px;
    transition: all 250ms;
}

.testSpace:has(.sidebar.opened) > .content {
    margin-left: 250px;
    width: calc(100% - 270px);
}

.testSpace:has(.sidebar.opened) > .sectionTitle {
    margin-left: 250px;
}

.testSpace > .content > .projectContainer > .project {
    background: var(--lighter-shade);
    padding: 10px 10px;
    border-radius: 10px;
    width: 250px;
    height: 140px;
    position: relative;
}

.testSpace > .content > .projectContainer > .project > .projectName {
    font-size: 20px;
    font-weight: bold;
}

.testSpace > .content > .projectContainer > .project > .projectDesc {
    font-size: 14px;
    opacity: 0.6;
}

.testSpace > .content > .projectContainer > .project > .lastModified {
    font-size: 14px;
    opacity: 0.6;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.testSpace > .content > .projectContainer > .project > .favoriteBtn {
    width: min-content;
    position: absolute;
    top: 10px;
    right: 5px;
    border: none;
    background: transparent;
}


.testSpace > .content > .newProjectMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--background);
    border-left: 2px solid var(--lighter-shade);
    transition: all 250ms;
}

.testSpace > .content >.newProjectMenu.closed {
    right: calc(-25% - 20px);
}

.testSpace > .content >.newProjectMenu > .title {
    font-size: 24px;
    font-weight: bold;
    margin-block: 5px;
    margin-bottom: 10px;
    width: calc(100% - 70px);
}

.testSpace > .content >.newProjectMenu > .closeNewProject {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(255, 43, 43);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}

.testSpace > .content >.newProjectMenu > .inputFields {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.testSpace > .content >.newProjectMenu > .inputFields > *:not(label) {
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid var(--lighter-shade);
    margin-bottom: 10px;
    background: transparent;
}

.testSpace > .content >.newProjectMenu > .inputFields > *:not(label):focus {
    outline: none;
    border: 2px solid var(--accent);
}

.testSpace > .content >.newProjectMenu > .inputFields > textarea.projectDescriptionInput {
    height: 100vh;
    max-height: calc(100vh - 300px);
    padding: 10px;
    font-family: "inter";
    resize: none;
}

.testSpace > .content >.newProjectMenu >.inputFields > label {
    font-size: 14px;
}

.testSpace > .content > .newProjectMenu > .projectTemplates {
    font-size: 14px;
    margin-bottom: 10px;
}

.testSpace > .content > .newProjectMenu > .templates {
    display: flex;
    width: 100%;
}

.testSpace > .content > .newProjectMenu > .templates > div {
    background: var(--lighter-shade);
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-right: 2px solid var(--shadow);
}

.testSpace > .content > .newProjectMenu > .templates > div:first-child {
    border-radius: 5px 0 0 5px;
}

.testSpace > .content > .newProjectMenu > .templates > div:last-child {
    border-radius: 0 5px 5px 0;
    border: none
}

.testSpace > .content > .newProjectMenu > .templates > div.selected {
    background: var(--accent);
    color: white;
}

.testSpace > .content > .newProjectMenu > .createProjectButton {
    background-color: var(--accent);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    width: calc(100% - 20px);
    text-align: center;
    position: absolute;
    bottom: 30px;
}

.testSpace > .content > .saveControls {
    position: fixed;
    top: 15px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 36px;
}

.testSpace > .content > .saveControls > .saveProject{
    background-color: var(--accent);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.testSpace > .content > .saveControls > .testProject {
    background-color: var(--background);
    border: 2px solid var(--lighter-shade);
    padding: 10px 20px;
    border-radius: 5px;
}

.testSpace > .content > .saveControls > .deleteProject {
    background-color: rgb(255, 43, 43);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.testSpace > .content > .saveControls > .saveStatus {
    opacity: 0.7;
    font-size: 14px;
}

.textEditor {
    margin-top: 5px;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.textEditor > .javascript, .textEditor > .css {
    width: calc(50% - 5px);
    height: calc(100% - 10px);
}

.textEditor > div > .tab {
    height: 20px;
    background: var(--lighter-shade);
    width: min-content;
    padding: 5px 20px;
    border-radius: 5px 5px 0 0;
}

.textEditor > .javascript > .jsEditor, .textEditor > .css > .cssEditor {
    height: calc(100vh - 105px);
    background: red;
    width: calc(100%);
    /* resize: none; */
    border: 2px solid var(--lighter-shade);
    border-radius: 0 5px 5px 5px;
    font-family: 'Azeret mono', monospace;
    /* padding: 10px; */
}

.textEditor > .javascript > .jsTextArea:focus, .textEditor > .css > .cssTextArea:focus {
    outline: none;
    border: 2px solid var(--accent);
}

.projectSettingsBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: var(--accent);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.testSpace > .content.dashboard {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.testSpace > .content.dashboard > .section {
    border: 2px solid var(--lighter-shade);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.testSpace > .content.dashboard > .section > .title {
    font-size: 20px;
    font-weight: 600;
}

.testSpace > .content.dashboard > .overview {
    grid-column: span 1;
    grid-row: span 10;
}

.testSpace > .content.dashboard > .overview > .stats {
    margin-top: 5px;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testSpace > .content.dashboard > .overview > .stats > div {
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.testSpace > .content.dashboard > .overview >.stats > div > .value {
    font-size: 20px;
    font-weight: 800;
}

.testSpace > .content.dashboard > .overview >.stats > .tasksCompleted > .progressbar {
    width: 70%;
    height: 10px;
    border-radius: 10px;
    background: var(--lighter-shade);
    margin-top: 5px;
}

.testSpace > .content.dashboard > .overview >.stats > .tasksCompleted > .progressbar > .progress {
    height: 100%;
    width: 73%;
    background: var(--accent);
    border-radius: 10px;
}

.testSpace > .content.dashboard > .recentProjects {
    grid-column: span 6;
    grid-row: span 7;
}

.testSpace > .content.dashboard > .recentProjects > .projects {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: calc(100% - 30px);
    gap: 5px;
} 

.testSpace > .content.dashboard > .recentProjects > .projects > .recentProject {
    background: var(--lighter-shade);
    border-radius: 5px;
    padding: 10px;
}

.testSpace > .content.dashboard > .recentProjects > .projects > .recentProject > .projectName {
    font-size: 20px;
    font-weight: 600;
}

.testSpace > .content.dashboard > .recentProjects > .projects > .recentProject > .projectDesc {
    font-size: 14px;
    opacity: 0.8;
}

.testSpace > .content.dashboard > .favorites {
    grid-column: span 5;
    grid-row: span 6;
}

.testSpace > .content.dashboard > .favorites > .projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    height: calc(100% - 30px);
    overflow-y: scroll;
}

.testSpace > .content.dashboard > .favorites > .projects > .favoriteProject {
    background: var(--lighter-shade);
    padding: 10px;
    border-radius: 5px;
}

.testSpace > .content.dashboard > .favorites > .projects > .favoriteProject > .projectName {
    font-size: 20px;
    font-weight: 600;
}

.testSpace > .content.dashboard > .favorites > .projects > .favoriteProject > .projectDesc {
    font-size: 14px;
    opacity: 0.8;
}

.testSpace > .content.dashboard > .quickTip {
    grid-column: span 7;
    grid-row: 11 / span 2;
    border: 2px solid var(--accent);
}

.testSpace > .content.dashboard > .quickActions{
    grid-column: 2 / span 6;
    grid-row: 8 / span 3;
    /* background-color: blue; */
}

.testSpace > .content.dashboard > .quickActions > .actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 5px;
    height: calc(100% - 30px);
    gap: 5px;
}

.testSpace > .content.dashboard > .quickActions > .actions > .quickAction {
    width: calc(100% );
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    cursor: pointer;
    background: var(--lighter-shade);
    padding: 0 10px;
    margin: 0;
    border: none;
}

.testSpace > .content.dashboard > .tasks {
    grid-row: span 6;
    grid-column: span 5;
} 

.testSpace > .content.dashboard > .tasks > .tasksList {
    height: calc(100% - 25px);
    margin-top: 5px;
    overflow-y: scroll;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid var(--lighter-shade);
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div:first-child  {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div:first-child > .taskName {
    font-weight: 600;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div:first-child > .taskDescription {
    font-size: 14px;
    opacity: 0.8;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div:last-child  {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
    width: 50%;
    /* background: red; */
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div:last-child > i  {
    color: red;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags {
    /* background: red; */
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px;
    /* background: blue */
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag {
    padding: 5px 10px;
    text-align: center;
    height: min-content;
    border-radius: 5px;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.to-do {
    background: #007BFF;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.fix {
    background: #FF4D4D;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.high {
    background: #B22222;
    color: white;
}
.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.medium {
    background: #FF8C00;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.low {
    background: #FFD700;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.inprogress {
    background: #20B2AA;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.completed {
    background: #32CD32;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.blocked {
    background: #A9A9A9;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.quick {
    background: #ADFF2F;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.long-term {
    background: #4682B4;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.recurring {
    background: #8A2BE2;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.bug {
    background: #FF4500;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.feature {
    background: #1E90FF;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.documentation {
    background: #D3D3D3;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.design {
    background: #FF69B4;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.research {
    background: #9370DB;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.assigned {
    background: #006400;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.unassigned {
    background: #FF7F7F;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.review {
    background: #FFD700;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.urgent {
    background: #FFA500;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.deffered {
    background: #87CEFA;
    color: white;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.testing {
    background: #FFFFE0;
    color: black;
}

.testSpace > .content.dashboard > .tasks > .tasksList > .task > div > .tags > .tag.deployment {
    background: #6A5ACD;
    color: white;
}

.testSpace > .content.tasks {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
}

.testSpace > .content.tasks > .section {
    border: 2px solid var(--lighter-shade);
    padding: 10px;
    border-radius: 5px;
}

.testSpace > .content.tasks > .section > .title {
    font-size: 20px;
    font-weight: 600;
}

.testSpace > .content.tasks > .overview {
    grid-column: span 6;
    grid-row: span 3;
}

.testSpace > .content.tasks > .overview > .stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100%  - 30px);
    margin-top: 5px;
}

.testSpace > .content.tasks > .overview > .stats > div {
    /* background-color: red; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testSpace > .content.tasks > .overview > .stats > div > .value {
    font-size: 20px;
    font-weight: 600;
}

.testSpace > .content.tasks > .overview > .stats > div > .progressbar {
    width: 100%;
    height: 10px;
    background-color: var(--lighter-shade);
    border-radius: 10px;
    margin-top: 5px;
}

.testSpace > .content.tasks > .overview > .stats > div > .progressbar > .progress {
    width: 48%;
    height: 100%;
    background: var(--accent);
    border-radius: 10px;
}

.testSpace > .content.tasks > .searchTasks {
    grid-column: span 6;
    grid-row: 4 / span 9;
}

.testSpace > .content.tasks > .searchTasks > .searchOptions {
    background-color: red;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
}

.testSpace > .content.tasks > .searchTasks > .searchOptions > input {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--lighter-shade);
}

.testSpace > .content.tasks > .searchTasks > .searchOptions > input:focus {
    outline: none;
}

.testSpace > .content.tasks > .addTask {
    grid-column: span 6;
    grid-row: span 12;
}

